body {
    margin: 0;
    font-family: 'Honk', system-ui;
}

ul {
    list-style: none;
}

a{
    text-decoration: none;
    color: white;       
    font-size: 24px;  
    letter-spacing: 1px;
}

.nav {
    width: 100%;
    display: grid;
    position: fixed;
    grid-template-columns: 1fr 1fr;
    background: #00BCD5;
    padding: 12px 0 12px 0;
    margin: 0;
    z-index: 10;
}

.logo {
    border-radius: 50%;
    padding: 0 12px 0 12px;
    object-fit: cover;
    transition: transform 1200ms;
}

.logo:hover{
    transform: rotate(360deg);
}

.menu {
    display: flex;
    justify-content: end;
}

.nav li {
    margin: 0 12px 0 12px;
}

.nav li:hover {
    opacity: 1;
    transition: opacity 1200ms;
    transition-delay: 100ms;
}

.intro .animacion .gracias {
    transition: transform 1200ms;
}

.intro:hover, .animacion:hover, .gracias:hover {
    transform: scale(1.2);
    transition-delay: 1200ms;
}

.scroll-container {
    scroll-behavior: smooth;
}

.sectiona, .sectionc {
    background: #e2943a;
    height: 597px;
    align-items: center;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    overflow-x: hidden;
}

.sectionb {
    background: #b8391d;
    height: 597px;
    display: grid;
    grid-template-rows: 0.5fr 1fr 0.5fr;
}

.footer {
    display: grid;
    grid-template-columns: 1fr;
    background: #00BCD5;
    height: 45px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.titulo {
    padding: 0 12% 0 12%;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-size: 45px;
    pointer-events: none;
}

.contianer:hover .titulo {
    transform: translate3D(0px, 300px, 90px);
    transform: scale(1.2);
}

.container-circle {
    padding: 0;
    margin: 0 12% 0 12%;
}

.container-circle:hover .circle{
    transform: translateX(1500%);
}

.circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 0px 0 12px 0;
}

.one {
    background:  #e74c3c;
    transition: transform 1.2s linear;
    transition-delay: 0.3s;
    border-width: 3px;
    border-style: inset;
    border-color: #000;
    text-align: center;
    align-content: center;
}

.two {
    background:  #8e44ad ;
    transition: transform 1.5s ease;
    transition-delay: 0.6s;
    border-width: 3px;
    border-style: outset;
    border-color: #000;
    text-align: center;
    align-content: center;
}

.three {
    background: #3498db;
    transition: transform 1.8s ease-in;
    transition-delay: 0.9s;
    border-width: 3px;
    border-style: inset;
    border-color: #000;
    text-align: center;
    align-content: center;
}

.four {
    background: #1abc9c;
    transition: transform 2.1s ease-in-out;
    transition-delay: 1.2s;
    border-width: 3px;
    border-style: outset;
    border-color: #000;
    text-align: center;
    align-content: center;
}

.five {
    background: #2ecc71;
    transition: transform 1.8s ease-out;
    transition-delay: 0.9s;
    border-width: 3px;
    border-style: inset;
    border-color: #000;
    text-align: center;
    align-content: center;
}

.six {
    background: #f1c40f;
    transition: transform 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-delay: 0.6s;
    border-width: 3px;
    border-style: outset;
    border-color: #000;
    text-align: center;
    align-content: center;
}

.titulo-final {
    padding: 0 12% 0 12%;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-size: 1000%;
    pointer-events: none;
}

.titulo-b {
    padding: 0 12% 0 12%;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0.5% 0 0.5% 0;
    font-size: 45px;
    pointer-events: none;
}